@model ArabaModel

<div class="text-center">
    <h1>@Model.Marka Arabası Detayı</h1>
    <p> Marka : @Model.Marka </p>
    <p> Model : @Model.Model </p>
    <p> Yıl : @Model.Yil </p>
    <p> Yakıt : @Model.Yakit </p>

    <a asp-action="Index"> AnaSayfaya Dön</a>
</div>